[Unit]
Description=Glances
After=network.target

[Service]
ExecStart=/usr/local/bin/glances -w --disable-plugin connections,network,irq,load,processlist -B {{ ansible_host }}
Restart=on-abort
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target